body{ 
 .fondo{
 background-image: url(/img/Fondonegro.jpg);
 background-repeat: no-repeat;
 background-size:cover;
 background-image: center;
}
}
main{
    h3{
        color:white;
        background: linear-gradient(rgb(0, 23, 99), rgba(0, 23, 99, 1%));
        text-align: center;
        margin-top: 50px;
        width:100%;
    }
    .formatoMargin{
        margin-top: 30px;
    }
    .estructuraVideos{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        li{
            margin-left: auto;
            margin-right: auto;
            align-items: center;
            font-family: 'Stick No Bills', sans-serif;
            text-align: center;
            margin: 10px;
            width: 550px;
        }
        iframe{
            width: 350px;
            height: 200px;
        }
    }
    @media only screen and (min-width: 768px){
        .estructuraVideos{
            grid-template-columns: repeat(2,1fr);
            display: grid;
            justify-items: center;
            gap: 3rem;
            margin-top: 40px;
            margin-bottom: 100px;
        }
        .estructuraVideos iframe{
            width: 350px;
            height: 200px;
        }
        .estructuraVideos li{
            width:400px;
        }
    
    }
    @media only screen and (min-width: 1024px){
    .estructuraVideos iframe{
        width: 500px;
        height: 300px;
    }
    .estructuraVideos li{
        width:550px;
    }
 }

}