main{
    .tituloBlog{
        margin-top:40px;
    }
    .listaPosteos{
        height: 800px;
    }
    .content{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
    }
    .post{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 500px;
        margin:20px;
        opacity: .8;
        :hover{
            opacity: 1;
            border: white solid 2px;
            transform: scale(1.1, 1.1);
            transition: 2s;
        }
    }
    .post-body{
        img{
            align-items: center;
            justify-items: center;
            justify-content: center;
            align-content: center;
            height: 250px;
            width: 100%;
            background-size:cover;
            background-position: center;    
        }
    }
    
    .post-link{
        background-color: rgb(0, 23, 99);
    }
    .edicionTexto{
        line-height: 20px;
        font-size: 15px;
    }
    @media only screen and (min-width: 1024px){
        .content{
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                margin-left: auto;
                margin-right: auto;

            }
 }
}

